<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Blog at the
  <a href="http://sanjeevkumar.herokuapp.com/#portfolio">Rails Blog help page</a>.
  To get help on this ROR Blog, see the
  <a href="http://sanjeevkumar.herokuapp.com/#work">Rails on Rails blog application</a>.
</p>
